[Desktop Entry]
Name=Theme switcher
Comment=Switch dark/light GTK theme automatically during day/night
Exec=/usr/bin/theme-switcher-manual.sh
Icon=/usr/share/icons/hicolor/512x512/light-dark-icon.png
Terminal=false
Type=Application
Categories=Utility